.campaign-tree-container {
  overflow-x: auto;
  width: 83vw;
  min-height: 75vh;
  transform: translate(0%, -10%);
}
.card-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  overflow: hidden;
}

#tree {
  display: inline-block;
  padding: 10px;
}

#tree * {
  box-sizing: border-box;
}

#tree .branch {
  padding: 5px 0 120px 50px;
}

#tree .branch:not(:first-child) {
  margin-left: 170px;
}

#tree .branch:not(:first-child):after {
  content: "";
  width: 50px;
  border-top: 1px solid #ccc;
  position: absolute;
  left: 150px;
  top: 50%;
  margin-top: 1px;
}

.entry {
  position: relative;
  min-height: 30vh;
  min-width: 20vh;
  display: block;
}

.entry:before {
  content: "";
  height: 100%;
  border-left: 1px solid #ccc;
  position: absolute;
  left: -20px;
}

.entry:first-child:after {
  height: 100px;
  border-radius: 10px 0 0 0;
}

.entry:first-child:before {
  width: 10px;
  height: 50%;
  top: 50%;
  margin-top: 1px;
  border-radius: 10px 0 0 0;
}

.entry:after {
  content: "";
  width: 20px;
  transition: border 0.5s;
  border-top: 1px solid #ccc;
  position: absolute;
  left: -20px;
  top: 50%;
  margin-top: 1px;
}

.entry:last-child:before {
  width: 10px;
  height: 50%;
  border-radius: 0 0 0 10px;
}

.entry:last-child:after {
  height: 10px;
  border-top: none;
  transition: border 0.5s;
  border-bottom: 1px solid #ccc;
  border-radius: 0 0 0 10px;
  margin-top: -9px;
}

.entry:only-child:after {
  width: 20px;
  height: 58.5px;
  margin-top: 1px;
  border-radius: 0px;
}

.entry:only-child:before {
  display: none;
}

.entry span {
  /* border: 1px solid #ccc; */
  display: block;
  height: 34vh;
  width: 18vh;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -15px;
  display: inline-block;
  border-radius: 5px;
  transition: all 0.5s;
}

/* .entry span:hover{
  background: #e6e6e6;
  color: #000;
  border-color: #a6a6a6;
} */
