<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>About Page</title>
</head>
<body>
  {% include 'landingNavbar.html' %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <div class="py-3">
                    <h1>Introducing campAIgn</h1>
                    <p>Your Ultimate AI-Driven Advertisement Campaign Companion!</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
          <div class="card" style="background-color: rgba(0, 0, 0, 0.5); backdrop-filter: blur(7px); width:65%;">
            <div class="card-body">
                    <h2>Problem</h2>
                    <p>In today's digital landscape, businesses face the challenge of creating personalized, engaging advertising content to influence purchasing decisions. Manual creation methods fall short in meeting the demands of the modern, data-driven consumer.</p>
                    
                    <h2>Solution</h2>
                    <p>campAIgn aims to deliver a cloud-native AI-Driven Advertisement Campaign Generator & Management Platform, empowering marketing professionals to create customizable, AI-generated advertising materials. With features like seamless ad campaign management and social media integration, campAIgn streamlines the process of creating and disseminating impactful campaigns.</p>
                    
                    <h2>Features</h2>
                    <ul>
                        <li><strong>AI Advertisement Campaign Generator:</strong> Customizable AI-generated ad-campaign packages comprising text and image files.</li>
                        <li><strong>Campaign Management Platform:</strong> Profile registration, campaign portfolio management, campaign refinement, and parameter tuning functionalities.</li>
                        <li><strong>Social Media Integration Interface:</strong> Direct publication of campaign materials to social media platforms.</li>
                    </ul>
                    
                    <p>With campAIgn, revolutionize your advertising campaigns with AI-driven efficiency and effectiveness. Join us in reshaping the future of marketing with unparalleled automation and creativity. Unlock the power of campAIgn today!</p>
                    
                    <h2>Product Motivation</h2>
                    <p>The evolving e-commerce environment demands automated approaches to generate personalized advertising campaigns. campAIgn addresses this need by automating consumer research, narrative design, and content generation, enabling businesses to appeal to diverse consumer preferences and maximize revenue.</p>
                    
                    <h2>Impact</h2>
                    <p>By automating the creation of purchase-driving content, campAIgn accelerates impactful consumer interactions and enhances personalization. The application empowers users to create a larger volume of higher-quality content, driving engagement and revenue growth.</p>
                    
                    <h2>Tech Stack</h2>
                    <p>Our technology stack includes Python, Flask, JavaScript, HTML/CSS, Google Cloud Platform, SQL Alchemy, and OpenAI APIs for AI summarization, content generation, and image generation.</p>
                    
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    {% include 'footer.html' %}
</footer>
</html>
