<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>New Campaign Form</title> -->
    <style>
        textarea {
          width: 100%;
          height: 150px; 
        }
      </style>
</head>
<body>
    <div class = "container" id="addCampaignFormDiv">
        <div class = "row justify-content-center">
            <div class = "col-md-6">
                <form id="addCampaignForm" method="POST" action="{{ url_for('add_campaign') }}">
                {{ form.csrf_token }}
                <h1>Add Campaign</h1>
                <div class="card form-card">
                    <div class="card-header">
                        <label for="campaign_name">{{ form.campaign_name.label }}</label>
                        {{ form.campaign_name(class="form-control", id="campaign_name") }}
                    </div>
                    <div class="card-body">
                        <label for="links">{{ form.links.label }}</label>
                        <div>
                        <textarea class = "text-area">
                            {{ form.links(class="text large-text-field", id="links") }}
                        </textarea>
                        </div>

                        <label for="perspective">{{ form.perspective.label }}</label>
                        {{ form.perspective(class="form-control", id="perspective") }}

                        <label for="portfolio">{{ form.portfolio.label }}</label>
                        <select class="form-select" aria-label="Portfolio drop-down" id="portfolio" name="portfolio" required>
                            <option value = "" selected disabled>Select Portfolio</option>

                            {% for portfolio_id, portfolio_name in form.portfolio.choices %}
                                <option value="{{portfolio_id}}">{{ portfolio_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class = "card-footer">
                        {{ form.submit(class="btn btn-funky-moon") }}
                    </div>
                </div>
                
                <!-- <table class = "table table-striped" style = "background-color: rgba(236, 230, 238, 0.25);">
                    <tr>
                        <td class = "py-3 px-3">
                            <label for="campaign_name">{{ form.campaign_name.label }}</label>
                        </td>
                        <td>
                            {{ form.campaign_name(class="form-control", id="campaign_name") }}
                        </td>
                    </tr>
                    <tr>
                        <td class = "py-3 px-3">
                            <label for="links">{{ form.links.label }}</label>
                        </td>
                        <td class = "large-text-field">
                            {{ form.links(class="form-control large-text-field", id="links") }}
                        </td>
                    </tr>
                    <tr>
                        <td class = "py-3 px-3">
                            <label for="perspective">{{ form.perspective.label }}</label>
                        </td>
                        <td>
                            {{ form.perspective(class="form-control", id="perspective") }}
                        </td>
                    </tr>
                    <tr>
                        <td class = "py-3 px-3">
                            <label for="portfolio">{{ form.portfolio.label }}</label>
                        </td>
                        <td>
                            <select class="form-select" aria-label="Portfolio drop-down" id="portfolio" name="portfolio" required>
                                <option value = "" selected disabled>Select Portfolio</option>

                                {% for portfolio_id, portfolio_name in form.portfolio.choices %}
                                    <option value="{{portfolio_id}}">{{ portfolio_name }}</option>
                                {% endfor %}
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            {{ form.submit(class="btn btn-funky-moon") }}
                        </td>
                    </tr>
                </table> -->
            </form>
            </div>
        </div>
    </div>

</body>
</html>