<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
    <div class="card" id="changePasswordFormDiv"style="background-color: rgba(0, 0, 0, 0.4); backdrop-filter: blur(7px); width:100%;">
        <form id="changePasswordForm" method="POST" action="{{ url_for('change_password') }}">
        {{ form.csrf_token }}
            <div class="card-header">
                <h1>Change Password</h1>
            </div>

            <div class="card-body">
                <h5 class="card-title">{{ form.current_password.label }}</h5>
                {{ form.current_password(class="form-control bg-dark text-light", id="current_password") }}

                <h5 class="card-title">{{ form.new_password.label }}</h5>
                {{ form.new_password(class="form-control bg-dark text-light", id="new_password") }}

                <h5 class="card-title">{{ form.confirm_new_password.label }}</h5>
                {{ form.confirm_new_password(class="form-control bg-dark text-light", id="confirm_new_password") }}
            </div>

            <div class="card-footer text-center">
                <button type="submit" class="btn btn-secondary">Change Password</button>
            </div>
        </form>
    </div>
</body>
<footer>
    {% include 'footer.html' %}
  </footer>
</html>