<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>campAIgn Devs</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

  <!-- Custom styles -->
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">

</head>
<body>
    {% include 'landingNavbar.html' %}

        <div class="text-container devs-heading">
          <h1 class="display-4">Meet the Developers</h1>
        </div>
      </div>

  <!-- Main content -->
  <div class = "container container-dev-names">

  </div>


  <div class="container-devs">
    <div class="card card0">
      <div class="border-devs">
        <h2>Jonathan Warren</h2>
      </div>
    </div>
    <div class="card card1">
      <div class="border-devs">
        <h2>Diego Aguilar</h2>
      </div>
    </div>
    <div class="card card2">
       <div class="border-devs">
        <h2>Daniel Rapuano</h2>
       </div>
    </div>
  </div>

   
  <div class = "container">
    <div class = "row">
        <div class = "col-md-4">
            <h2>Jonathan Warren</h2>
        </div>
        <div class = "col-md-4">
            <h2>Diego Aguilar</h2>
        </div>
        <div class = "col-md-4">
            <h2>Daniel Rapuano</h2>
        </div>
    </div>
  </div>

 


<!--end of main content-->



</body>
</html>
