<!-- editCampaign.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Campaign</title>

    <style>
        textarea {
          width: 100%;
          height: 150px; 
        }
      </style>
</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center">
            <div class = "py-3">
                <h1>Edit This Campaign</h1>
                <hr>
            </div>
          </div>
        </div>
      </div>

    <div class = "container">
        <div class = "row justify-content-center">
            <div class = "col-md-6">

            <table class = "table table-striped" style = "background-color: rgb(236, 230, 238); justify-content: center;">
            
            <form method="POST">
                {{ form.csrf_token }}
                <tr>
                    <td class = "py-3 px-3">
                        <label for="campaign_name">Campaign Name:</label>
                    </td>
                    <td>
                        <input type="text" id="campaign_name" name="campaign_name" value="{{ campaign.name }}">
                    </td>
                </tr>
                <tr>
                    <td class = "py-3 px-3">
                        <label for="links">Links:</label>
                    </td>
                    <td>
                        <textarea id="links" name="links">{{ campaign.links }}</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="perspective">Perspective:</label>
                    </td>
                    <td>
                        <textarea id="perspective" name="perspective" >{{ campaign.perspective }}</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="text_summarization">Text Summarization:</label>
                    </td>
                    <td>
                        <textarea id="text_summarization" name="text_summarization" readonly>{{ campaign.summarization }}</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="text_generation">Text Generation:</label>
                    </td>
                    <td>
                        <textarea id="text_generation" name="text_generation" readonly>{{ campaign.text_generated }}</textarea>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label for="image_generation">Image Generation:</label>
                    </td>
                    <td>
                        <img src="{{ campaign.image_generated }}" alt="Image Generated" style="width: 90%;">
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit">Save Changes</button>
                    </td>
                </tr>
            </form>

            </table>
            </div>
        </div>
    </div>
</body>
<footer>
    {% include 'footer.html' %}
</footer>
</html>
