<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        .error-message {
            text-align: center;
            padding: 20px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #fff;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>
<body>
    {% include 'landingNavbar.html' %}
    <div class="error-message">
        <h2>Error</h2>
        <p>{{ message }}</p>
    </div>
</body>
<footer>
    {% include 'footer.html' %}
</footer>
</html>
