<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feed</title>

    <style>
      .card-text {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
      }
    </style>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center">
          <div class="py-3">
            <h1>Feed</h1>
            <hr />
          </div>
        </div>
      </div>
    </div>

    <div
      class="container justify-content-center"
      style="overflow-y: auto; height: 100vh; width: 100vw"
    >
      <div class="col-md-6 mx-auto">
        {% for campaign, user in feed %}
        <div class="row justify-content-center" style="padding: 10%">
          <div
            class="card my-card"
            style="
              width: 30vw;
              background-color: rgba(0, 0, 0, 0.4);
              backdrop-filter: blur(7px);
            "
            campaign-id="{{ campaign.campaign_id }}"
          >
            <div class="card-header text-center">
              <h6>{{ campaign.name }}</h6>
            </div>
            <div class="card-body">
              <img
                src="{{campaign.image_generated}}"
                alt="Image Generated"
                referrerpolicy="no-referrer"
                style="width: 100%"
              />
              <p class="card-text" style="padding-top: 3%">
                <b> {{ user.username }} </b>{{ campaign.text_generated }}
              </p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{{ url_for('static', filename='js/viewCampaigns.js') }}"></script>

  <footer>{% include 'footer.html' %}</footer>
</html>
