<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <title>Generate Campaign</title>
</head>
<body>
    {% include 'navbar.html' %}
<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <div class = "py-3">
            <h1>{{ new_campaign.name }}</h1>
            <hr>
        </div>
      </div>
    </div>
  </div>

<div class="container" style="padding-top: 1%; padding-bottom: 1%;">
    <div class  = "row">
        <div class = "col-sm-7">
            <div class="card h-100" style="background-color: rgba(0, 0, 0, 0.4); backdrop-filter: blur(7px);">
                <div class="card-header">
                    <h6><b>{{ new_campaign.name }}</b> - {{ new_campaign.creation_date }}</h6>
                </div>

                <div class="card-body">
                    <h5 class="card-title">Perspective:</h5>
                    <p class = "card-text">{{ new_campaign.perspective }}</p>
                    <h5 class="card-title">Links:</h5>
                    <p class = "card-text">
                    {% for link in new_campaign.links.split() %}
                        <a href="{{ link }}"target="_blank">{{ link }}</a><br>
                    {% endfor %}
                    </p>
                    <h5 class="card-title">Summarization:</h5>
                    <p class = "card-text" style="vertical-align: top;" id="summary"></p>
                    <div id ="regenerateSummarization" style="display:none; align-content:center; padding-top:2%;">
                        <input type="text" placeholder="Refine your summary?" id="regenerateSummarizationInput">
                        <button class="btn btn-secondary" onclick="regenerateSummarization()">Regenerate Summary</button>
                    </div>
                </div>

                <div class="card-footer text-center">
                    <div id ="saveCampaign" style= "display:none;">
                        <button class="btn btn-primary" onclick="saveCampaign()">Save Campaign</button>
                    </div>
                </div>
            </div>
        </div>

        <div class = "col-sm-5">
            <div class="card h-100" style="background-color: rgba(0, 0, 0, 0.4); backdrop-filter: blur(7px);">
                <div class="card-header">
                    <h6><b>{{ new_campaign.name }}</b> - Preview</h6>
                </div>
                <div class="card-body">
                    <div class="row h-60">
                        <div id="image_container" style="width: 100%;"></div>
                        <div id ="regenerateImage" style= "display:none; align-content:center; padding-top:2%;">
                            <input type="text" placeholder="Refine your image?" id="regenerateImageInput">
                            <button class="btn btn-secondary" id="regenerateImageButton" onclick="regenerateImage()">Regenerate Image</button>
                        </div>
                    </div>
                    <div class="row h-40">
                        <p class = "card-text" style = "bottom:15%;padding-top:3%;" id="ad_text"></p>
                        <div id ="regenerateAdvertisement" style="display:none; align-content:center; padding-top:2%;">
                            <input type="text" placeholder="Refine your Ad?" id="regenerateAdvertisementInput">
                            <button class="btn btn-secondary" id="regenerateAdvertisementButton"onclick="regenerateAdvertisement()">Regenerate Ad</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
    <script src="{{ url_for('static', filename='js/generateCampaign.js') }}"></script>
</body>
<footer>
    {% include 'footer.html' %}
</footer>
</html>