<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Campaign</title>
</head>
<body>
    {% include 'navbar.html' %}
    <table border="1" style="width: 100%; table-layout:fixed; ">
        <colgroup>
            <col style="width: 30%;">
            <col style="width: 30%;">
            <col style="width: 40%;">
        </colgroup>

        <tbody>
            <tr>
                <th> <h2>  {{ new_campaign.name }}</h2> </th>
            </tr>
            <tr>
                <th>Links</th>
                <th>Perspective</th>
            </tr>
            <tr>
                <td style=" word-wrap: break-word"></tdstyle> <p> {{ new_campaign.links }}</p> </td>
                <td> <p> {{ new_campaign.perspective }}</p> </td>
            </tr>
            <tr>
                <th>Summarization</th>
                <th>Text Generated</th>
                <th>Image Generated</th>
            </tr>
            <tr>
                <td style="vertical-align: top;"> <p id="summary"></p> </td>
                <td style="vertical-align: top;"> <p id="ad_text"></p> </td>
                <td><div id="image_container" style="width: 90%;"></div></td>         
            </tr>
            <tr>
                <td> 
                    <div>
                        <label for="regenerateSummarizationInput">Refine your summary?</label>
                        <input type="text" id="regenerateSummarizationInput">
                        <button onclick="regenerateSummary()">Regenerate Summary</button>
                    </div>
                </td>

                <td> 
                    <div>
                        <label for="regenerateAdvertisementInput">Refine your Ad?</label>
                        <input type="text" id="regenerateAdvertisementInput">
                        <button onclick="regenerateAdvertisement()">Regenerate Ad</button>
                    </div>
                </td>
                    
                <td>
                    <div>
                        <label for="regenerateImageInput">Refine the image?</label>
                        <input type="text" id="regenerateImageInput">
                        <button onclick="regenerateImage()">Regenerate Image</button>
                    </div>
                </td>         
            </tr>



            <div>
                <label for="regenerateImageInput">Refine the image?</label>
                <input type="text" id="regenerateImageInput">
                <button onclick="regenerateImage()">Regenerate Image</button>
            </div>
        </tbody>
    </table>

    <div>
        <label for="saveCampaign">Save Campaign?</label>
        <input type="text" id="SaveCampaignButton">
        <button onclick="saveCampaign()">Save</button>
    </div>

    <div id="campaign_id"></div>

    <script>
        const responseAreaSummary = document.getElementById('summary');
        const responseAreaAdText = document.getElementById('ad_text');
        const responseAreaImageContainer = document.getElementById('image_container');
        const responseAreaCampaignId = document.getElementById('campaign_id');

        var urlParams = new URLSearchParams(window.location.search);
        var campaignId = urlParams.get('new_campaign_id');
        var callType = urlParams.get('call_type');

        let final_summary;
        let final_ad_text;
        let final_img_prompt;
        let final_image_url;
        let final_parent_id;

        const evtSource = new EventSource(`/createCampaign/${campaignId}/${callType}`);

        evtSource.onmessage = function(event) {
            if (event.data === 'end-of-stream') {
                evtSource.close();
                
                const finalizedParameters = {
                    new_campaign_id: campaignId,
                    call_type: callType,
                    summary: responseAreaSummary.textContent,
                    ad_text: responseAreaAdText.textContent,
                    img_prompt: final_img_prompt,
                    image_url: final_img_url,
                    parent_id: final_parent_id
                };

                fetch('/processCampaign', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(finalizedParameters)
                })
                .then(response => response.json())
                .then(data => {
                    console.log('POST request successful', data);
                })
                .catch(error => {
                    console.error('Error making POST request', error);
                });
            }
        };

        evtSource.addEventListener('summary', function(event) {
            responseAreaSummary.innerHTML += event.data;
        });

        evtSource.addEventListener('ad_text', function(event) {
            responseAreaAdText.innerHTML += event.data;
        });

        evtSource.addEventListener('img_url', function(event) {
            const imageUrl = event.data;
            const imgElement = document.createElement('img');
            imgElement.src = imageUrl;
            imgElement.style.width = '90%';
            responseAreaImageContainer.appendChild(imgElement);
        });

        evtSource.addEventListener('campaign_id', function(event) {
            const campaignId = event.data;
            const linkElement = document.createElement('a');
            linkElement.href = `/viewCampaign/${campaignId}`;
            linkElement.textContent = 'View Campaign';
            responseAreaCampaignId.appendChild(linkElement);
        });

        evtSource.addEventListener('final_summary', function(event) {
            final_summary = event.data;
        });

        evtSource.addEventListener('final_ad_text', function(event) {
            final_ad_text = event.data;
        });

        evtSource.addEventListener('final_img_prompt', function(event) {
            final_img_prompt = event.data;
        });

        evtSource.addEventListener('final_img_url', function(event) {
            final_img_url = event.data;
        });

        evtSource.addEventListener('final_parent_id', function(event) {
            final_parent_id = event.data;
        });

    </script>

    <script>
        function regenerateImage() {
            const imgPromptInput = document.getElementById('regenerateImageInput').value;   
            
            const regenerateParameters = {
                    new_campaign_id: campaignId,
                    call_type: callType,
                    summary: responseAreaSummary.textContent,
                    ad_text: responseAreaAdText.textContent,
                    img_prompt: imgPromptInput + "additionally, also consider" + final_ad_text,
                    image_url: final_img_url,
                    parent_id: final_parent_id
                };
                       
            // Make a fetch request to trigger image regeneration
            fetch(`/createCampaign/${campaignId}/${callType}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ action: 'regenerate_image', img_prompt: imgPromptInput })
            })
            .then(response => response.json())
            .then(data => {
                console.log('Image regeneration successful', data);
                // Handle the regenerated image URL as needed
            })
            .catch(error => {
                console.error('Error regenerating image', error);
            });    
            

            

            fetch('/processCampaign', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer '  // Add your authorization token if needed
                },
                body: JSON.stringify(regenerateParameters)
            })
            .then(response => response.json())
            .then(data => {
                console.log('Image regeneration successful', data);
                // Handle the regenerated image URL as needed
            })
            .catch(error => {
                console.error('Error regenerating image', error);
            });
        }
    </script>
    

</body>
</html>
