<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <title>Generate Campaign</title>
</head>
<body>
    {% include 'navbar.html' %}
    <table border="1" style="width: 100%; table-layout:fixed; ">
        <colgroup>
            <col style="width: 30%;">
            <col style="width: 30%;">
            <col style="width: 40%;">
        </colgroup>

        <tbody>
            <tr>
                <th> <h2>  {{ new_campaign.name }}</h2> </th>
            </tr>
            <tr>
                <th>Links</th>
                <th>Perspective</th>
            </tr>
            <tr>
                <td style=" word-wrap: break-word"></tdstyle> 
                    <p>
                        {% for link in new_campaign.links.split() %}
                            <a href="{{ link }}"target="_blank">{{ link }}</a><br>
                        {% endfor %}
                    </p> 
                </td>
                <td> <p> {{ new_campaign.perspective }}</p> </td>
            </tr>
            <tr>
                <th>Summarization</th>
                <th>Text Generated</th>
                <th>Image Generated</th>
            </tr>
            <tr>
                <td style="vertical-align: top;"> <p id="summary"></p> </td>
                <td style="vertical-align: top;"> <p id="ad_text"></p> </td>
                <td><div id="image_container" style="width: 90%;"></div></td>         
            </tr>
            <tr>
                <td><input type="text" placeholder="Refine your summary?" id="regenerateSummarizationInput"></td>
                <td><input type="text" placeholder="Refine your Ad?" id="regenerateAdvertisementInput"></td>
                <td><input type="text" placeholder="Refine your image?" id="regenerateImageInput"></td>
            </tr>
            <tr>
                <td> 
                    <div><button class="btn btn-primary" onclick="regenerateSummarization()">Regenerate Summary</button></div>
                </td>

                <td> 
                    <div><button class="btn btn-primary" onclick="regenerateAdvertisement()">Regenerate Ad</button></div>
                </td>
                    
                <td>
                    <div><button class="btn btn-primary" onclick="regenerateImage()">Regenerate Image</button></div>
                </td>         
            </tr>
        </tbody>
    </table>
    <div>
        <button class="btn btn-primary" onclick="saveCampaign()">Save Campaign</button>
    </div>

    <script src="{{ url_for('static', filename='js/generateCampaign.js') }}"></script>

</body>
</html>
