<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    {% include 'navbar.html' %}

    <button onclick="redirectToViewCampaigns()">View Campaigns</button>

    <script>
        function redirectToViewCampaigns() {
            // Redirect to the view_campaigns route
            window.location.href = "{{ url_for('view_campaigns') }}?call_type=user&id={{ current_user.id }}";
        }
    </script>

    <button onclick="redirectToAddCampaign()">Add Campaign</button>

    <script>
        function redirectToAddCampaign() {
            // Redirect to the view_campaigns route
            window.location.href = "{{ url_for('add_campaign') }}";
        }
    </script>

    <button onclick="redirectToAddPortfolio()">Add Portfolio</button>

    <script>
        function redirectToAddPortfolio() {
            // Redirect to the view_campaigns route
            window.location.href = "{{ url_for('add_portfolio') }}";
        }
    </script>

    <button onclick="redirectToViewPortfolios()">View Portfolios</button>

    <script>
        function redirectToViewPortfolios() {
            // Redirect to the view_campaigns route
            window.location.href = "{{ url_for('view_portfolios') }}";
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-AiBD9OJwI5DgCeGEStAxqqAIbP49E5W6eX8ELqx53MPKS5Nq/B8zgpcwwWS1jp/e" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-+0n0xVW2eSR5vz3krs5gA5PVgG/xhxDzFK5l5S8o0v/ZI+xmctK1Rn5R7J1KR4Ld" crossorigin="anonymous"></script>
</body>
</html>
