<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

</head>

<body>
    <button onclick="redirectToViewCampaigns()">View ALL Campaigns</button>

    <script>
        function redirectToViewCampaigns() {
            // Redirect to the view_campaigns route
            window.location.href = "{{ url_for('view_campaigns') }}?call_type=user&id={{ current_user.id }}";
        }
    </script>

    <button onclick="redirectToAddCampaign()">Go to Add Campaign</button>

    <script>
        function redirectToAddCampaign() {
            // Redirect to the view_campaigns route
            window.location.href = "{{ url_for('add_campaign') }}";
        }
    </script>
</body>
<!-- <button onclick="redirectToViewCampaigns()">Go to View Campaigns</button> -->
</html>
