<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>AI-Enhanced Ad Campaign Manager</title>



</head>

<body>
    {% include 'navbar.html' %}

    <!--
<div class="topnav">
    <p class="font1" href="#home">[insert name here]</p>
    <div class="right-links">
            <a class="a2" onclick="openLoginForm()">Login</a>
            <a class="a2" onclick="openSignupForm()">Sign Up</a>
    </div>
</div>
-->


<div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <div class = "py-3">
            <h1>Get Started</h1>
            <hr>
        </div>
      </div>
    </div>
  </div>


<div class = "blur" id = "blur">
<section id="login" class = "text-center">
    

        <div class="logincard" id="loginForm">
            <form action="/login" method="POST" class="login webform"  role="form">
                
                <h5 class="logincard-title"> Login</h5>

                <div class="pt-4">
                    <input type="email" class="logincard-email-input" name="email" id="email" placeholder="Email" required>
                </div>

                <div class="pb-2">
                    <input type="text" class="logincard-password-input" name="password" id="password" placeholder="Password" required>
                </div>

                <button type="submit" class="submit-button" id="submit-button" name="submit">Login</button>
                <button type="reset" class="cancel-button" onclick="closeLoginForm()">Cancel</button>
            </form>
        </div>

</section>

<section id="signup" class = "text-center">

    <div class="pt-4" id="signupForm">
        <form action="/signup" method="POST" class=""  role="form">
            
            <h5 class=""> Sign Up</h5>

            <div class="pt-4">
                <input type="text" class="" name="username" id="username" placeholder="Username" required>
            </div>

            <div class="">
                <input type="text" class="" name="first_name" id="first_name" placeholder="First Name" required>
            </div>

            <div class="">
                <input type="text" class="" name="last_name" id="last_name" placeholder="Last Name" required>
            </div>

            <div class="">
                <input type="email" class="" name="email" id="email" placeholder="Email" required>
            </div>

            <div class="">
                <input type="text" class="" name="password" id="password" placeholder="Password" required>
            </div>

            <div class="pb-2">
                <input type="text" class="" name="password_verification" id="password_verification" placeholder="Password Retype" required>
            </div>

            <button type="submit" class="" id="submit-button" name="submit">Sign Up</button>
            <button type="reset" class="" onclick="closeSignupForm()">Cancel</button>
        </form>
    </div>

</section>

</div>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
  {% for category, message in messages %}
  <div class="alert alert-success" role="alert">{{ message }}</div>
    {% endfor %}
{% endif %}
{% endwith %}
<script>

    function openLoginForm() {
        document.getElementById("loginForm").style.display = "block";
        document.getElementById("blur").style.backdropFilter="blur(8px)";

        document.getElementById("signupForm").style.display = "none";
    }
    function closeLoginForm() {
        document.getElementById("loginForm").style.display = "none";
        document.getElementById("blur").style.backdropFilter = "none";
    }
    function openSignupForm() {
        document.getElementById("signupForm").style.display = "block";
        document.getElementById("blur").style.backdropFilter="blur(8px)";

        document.getElementById("loginForm").style.display = "none";
    }
    function closeSignupForm() {
        document.getElementById("signupForm").style.display = "none";
        document.getElementById("blur").style.backdropFilter = "none";
    }

</script>

</body>

</html>