<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI Advertisement Campaign Generator</title>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>

  <!-- Custom styles -->
  <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
  <style>
    
    body {
      margin: 0; /* Remove default body margin */
      padding: 0; /* Remove default body padding */
      background-color: #f8f9fa;
    } 
    #particles-container {
        padding-bottom: 7vh;
      }
    /* Set the height of the particles-js div to half of the viewport height */
    #particles-js {
      height: 50vh;
      background-color: #ad34ee;/* Set the background color to match the navbar's color */
     /* background-color: #212529; */

    }
    .text-container {
      position: absolute;
      top: 18%;
      left: 50%;
      transform: translate(-50%, -85%);
      text-align: center;
      color: #ffffff; / Set the text color to white /
      z-index: 1; / Ensure the text appears above the particles */
    }
  </style>
</head>
<body>
    {% include 'landingNavbar.html' %}

    <div id="particles-container">
        <div id="particles-js"></div>
      
        {% if not current_user.is_authenticated %}
        <div class="text-container">
          <h1 class="display-4">Create personalized advertisements with AI</h1>
        </div>
        {% else %}
        <div class="text-container" style="transform: translateX(-50%) translateY(-35%);">
          <h1 class="display-4">Create personalized advertisements with AI</h1>
        </div>
        {% endif %}
      </div>

  <!-- Main content -->
  <div class = "container justify-content-center">
    <div class = "row justify-content-center">
        <div class = "col-md-5 mx-auto">
          <div class="container rounded" style="background-color: rgba(80, 80, 80, 0.1); backdrop-filter: blur(5px);">
            <div class = "text-center">
              <p>
                <h2> Promote your product in seconds </h2>
              </p>
            </div>
              <p> Utilizing OpenAI technology, CampAIgn provides an easy and convenient to use interface for businesses to create
                professional, personalized advertisements.  We also provide a simple file management system to store, customize, and
                reproduce tailored content that you can easily publish to the social media platform of your choice.
              </p>
              <p>
                Have a suggestion on how to improve?  Leave us an email <a>@a.i.ads.csc400@gmail.com</a>
              </p>
          </div>
        </div>
          {% if not current_user.is_authenticated %}
          <div class = "col-md-3 mx-auto">
            <!-- <section id="login" class = "text-center"> -->
                <div class="card" style="background-color: rgba(80, 80, 80, 0.1); backdrop-filter: blur(5px); width:100%;">
                    <form action="/login/submit" method="POST" class="login webform"  role="form">
                        {{ login_form.csrf_token }}
                        <div class="card-header">
                            <h2>Login</h2>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ login_form.email.label }}</h5>
                            {{ login_form.email(class="form-control bg-dark text-light", id="email") }}
    
                            <h5 class="card-title">{{ login_form.password.label }}</h5>
                            {{ login_form.password(class="form-control bg-dark text-light", id="password") }}
                        </div>
    
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-secondary">Login</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class = "col-md-3 mx-auto">
              <div class="card" style="background-color: rgba(80, 80, 80, 0.1); backdrop-filter: blur(5px); width:100%;">
                    <form action="/signup" method="POST" class="login webform"  role="form">
                        {{ signup_form.csrf_token }}
                        <div class="card-header">
                            <h2>Sign Up</h2>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ signup_form.username.label }}</h5>
                            {{ signup_form.username(class="form-control bg-dark text-light", id="username") }}
    
                            <h5 class="card-title">{{ signup_form.first_name.label }}</h5>
                            {{ signup_form.first_name(class="form-control bg-dark text-light", id="first_name") }}
    
                            <h5 class="card-title">{{ signup_form.last_name.label }}</h5>
                            {{ signup_form.last_name(class="form-control bg-dark text-light", id="last_name") }}
    
                            <h5 class="card-title">{{ signup_form.email.label }}</h5>
                            {{ signup_form.email(class="form-control bg-dark text-light", id="email") }}
    
                            <h5 class="card-title">{{ signup_form.password.label }}</h5>
                            {{ signup_form.password(class="form-control bg-dark text-light", id="password") }}
    
                            <h5 class="card-title">{{ signup_form.passwordRetype.label }}</h5>
                            {{ signup_form.passwordRetype(class="form-control bg-dark text-light", id="passwordRetype") }}
                        </div>
    
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-secondary">Sign Up</button>
                        </div>
                    </form>
                </div>
          </div>
            {% else %}
            <div class = "col-md-7 mx-auto" style="justify-content:center;">
              {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
              {% endif %}
            {% endwith %}
            </div>

          {% endif %}

    </div>
    </div>
</div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  
  <script src="{{ url_for('static', filename='js/particles.js') }}"></script>

</body>

<footer>
  {% include 'footer.html' %}
</footer>
</html>
