    <!-- Bootstrap CSS links-->

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#"> campAIgn</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
            <a class="dropdown-item nav-link" href="{{ url_for('index') }}">Homepage</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('view_campaigns') }}?call_type=user&id={{ current_user.id }}">View Campaigns</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('add_campaign') }}">Add Campaign</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('add_portfolio') }}">Add Portfolio</a>
          </li>
        <li class="nav-item ml-auto">
            <a class="nav-link" href="{{ url_for('logout') }}">Sign Out</a>
          </li>
      </ul>
    </div>
  </nav>

  <style>
    body {
      background: linear-gradient(to bottom, #d6d6d8); 
      height: 100vh;
      margin: 0;
    }
    
  </style>

  <body>
    
  </body>


  <!--
  <footer class = "footer">
    <div class = "footer-wrapper">
      <div class = "footer-center">
        <h2> campAIgn</h2>
      </div>
  </div>
  </footer>
-->