<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/search-box.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/static/css/progress-bar.css"
    />
    <link rel="stylesheet" type="text/css" href="/static/css/carousel.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/ellipsis.css" />
    <style>
      body {
        background-color: #ffffff;
      }
      .jumbotron {
        background-color: #007bff;
        color: #fff;
      }
    </style>
  </head>
  <body>
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-dark"
      style="z-index: 100"
    >
      <a class="navbar-brand ml-3" href="{{ url_for('landing') }}">campAIgn</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="dropdown-item nav-link" href="{{ url_for('home') }}"
              >Home</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('feed') }}">Feed</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('view_portfolios') }}"
              >Portfolios</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('view_campaigns') }}"
              >Campaigns</a
            >
          </li>
        </ul>
        <div class="search-box mx-auto">
          <input id="search-input" type="text" placeholder="" />
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              x="0px"
              y="0px"
              width="100"
              height="100"
              viewBox="0,0,256,256"
              style="fill: #ffffff"
            >
              <g
                fill="#ffffff"
                fill-rule="nonzero"
                stroke="none"
                stroke-width="1"
                stroke-linecap="butt"
                stroke-linejoin="miter"
                stroke-miterlimit="10"
                stroke-dasharray=""
                stroke-dashoffset="0"
                font-family="none"
                font-weight="none"
                font-size="none"
                text-anchor="none"
                style="mix-blend-mode: normal"
              >
                <g transform="scale(5.12,5.12)">
                  <path
                    d="M21,3c-9.37891,0 -17,7.62109 -17,17c0,9.37891 7.62109,17 17,17c3.71094,0 7.14063,-1.19531 9.9375,-3.21875l13.15625,13.125l2.8125,-2.8125l-13,-13.03125c2.55469,-2.97656 4.09375,-6.83984 4.09375,-11.0625c0,-9.37891 -7.62109,-17 -17,-17zM21,5c8.29688,0 15,6.70313 15,15c0,8.29688 -6.70312,15 -15,15c-8.29687,0 -15,-6.70312 -15,-15c0,-8.29687 6.70313,-15 15,-15z"
                  ></path>
                </g>
              </g>
            </svg>
          </div>
        </div>
        <ul class="navbar-nav ml-auto">
          <li
            class="nav-item dropdown"
            style="padding-left: -10%; padding-right: 5%"
          >
            <a
              class="nav-link"
              href="#"
              id="plusDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-folder-plus"
                viewBox="0 0 16 16"
              >
                <path
                  d="m.5 3 .04.87a2 2 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2m5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19q-.362.002-.683.12L1.5 2.98a1 1 0 0 1 1-.98z"
                />
                <path
                  d="M13.5 9a.5.5 0 0 1 .5.5V11h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V12h-1.5a.5.5 0 0 1 0-1H13V9.5a.5.5 0 0 1 .5-.5"
                />
              </svg>
            </a>
            <!-- Dropdown menu -->
            <div
              class="dropdown-menu dropdown-menu-dark dropdown-menu-right"
              aria-labelledby="plusDropdown"
              style="right: 0; left: auto"
            >
              <a class="dropdown-item" href="#" id="addPortfolioLink"
                >Add Portfolio</a
              >
              <a class="dropdown-item" href="#" id="addCampaignLink"
                >Add Campaign</a
              >
            </div>
          </li>

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle mr-3"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <b>{{ current_user.username }}</b>
            </a>
            <div
              class="dropdown-menu dropdown-menu-dark dropdown-menu-right"
              aria-labelledby="navbarDropdown"
              style="right: 10%; left: auto"
            >
              <a class="dropdown-item" href="{{ url_for('view_account') }}"
                >View Account</a
              >
              <!-- <a class="dropdown-item" href="#" id="changePasswordLink" >Change Password</a> -->
              <a class="dropdown-item" href="{{ url_for('logout') }}"
                >Sign Out</a
              >
              <!-- <a class="dropdown-item" href="{{ url_for('delete_user_data') }}">Delete User Data</a> -->
            </div>
          </li>
        </ul>
      </div>
    </nav>

    <div
      class="container mt-3"
      id="results-container"
      style="
        position: absolute;
        top: 5vh;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 100;
        display: none;
      "
    >
      <div class="row justify-content-center">
        <div class="col-md-5 mx-auto">
          <table
            class="table table-hover table-striped table-dark table-sm"
            id="results-table"
            style="background-color: rgb(236, 230, 238); display: none"
          >
            <thead>
              <tr></tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>
    <div
      id="user-portfolios"
      data-portfolios="{{ content[0] | tojson | safe }}"
    ></div>
    <div
      id="user-campaigns"
      data-campaigns="{{ content[1] | tojson | safe }}"
    ></div>

    <div id="changePasswordFormDiv" style="display: none"></div>
    <div id="addPortfolioFormDiv" style="display: none"></div>
    <div id="addCampaignFormDiv" style="display: none"></div>
    <div id="deleteUserDataFormDiv" style="display: none"></div>

    <div id="blur-container"></div>
    <div id="ellipsis" class="ellipsis" style="display: none">
      <span class="ellipsis-element"></span>
      <span class="ellipsis-element"></span>
      <span class="ellipsis-element"></span>
    </div>
    <!-- <div class="background-div"></div> -->

    <!-- <svg width="10%" height="10%" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="#2a6ba7" stroke="#2a6ba7" stroke-width="0.00024000000000000003" transform="rotate(90)">
  <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
  <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
  <g id="SVGRepo_iconCarrier">
    <path d="M21.007 8.222A3.738 3.738 0 0 0 15.045 5.2a3.737 3.737 0 0 0 1.156 6.583 2.988 2.988 0 0 1-2.668 1.67h-2.99a4.456 4.456 0 0 0-2.989 1.165V7.4a3.737 3.737 0 1 0-1.494 0v9.117a3.776 3.776 0 1 0 1.816.099 2.99 2.99 0 0 1 2.668-1.667h2.99a4.484 4.484 0 0 0 4.223-3.039 3.736 3.736 0 0 0 3.25-3.687zM4.565 3.738a2.242 2.242 0 1 1 4.484 0 2.242 2.242 0 0 1-4.484 0zm4.484 16.441a2.242 2.242 0 1 1-4.484 0 2.242 2.242 0 0 1 4.484 0zm8.221-9.715a2.242 2.242 0 1 1 0-4.485 2.242 2.242 0 0 1 0 4.485z"></path>
  </g>
</svg> -->

    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
      var user_portfolios = {{ content[0] | tojson | safe}};
      var user_campaigns = {{ content[1] | tojson | safe}};
    </script>

    <script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
    <script src="{{ url_for('static', filename='js/addPortfolio.js') }}"></script>
    <script src="{{ url_for('static', filename='js/addCampaign.js') }}"></script>
    <script src="{{ url_for('static', filename='js/changePassword.js') }}"></script>
    <script src="{{ url_for('static', filename='js/deleteUserData.js') }}"></script>
  </body>
</html>
