<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <title>Terms of Service </title>
</head>
<body>
    {% include 'landingNavbar.html' %}
    <div class="container">
        <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <div class = "py-3">
                <h1>Terms of Service</h1>
                <p><strong>Effective Date: </strong>March 20th, 2024</p>
            </div>
        </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="card" style="background-color: rgba(0, 0, 0, 0.5); backdrop-filter: blur(7px); width:65%;">
                <div class="card-body">

                    <h2>Introduction</h2>
                    <p>Thank you for choosing our AI Advertisement Generator and Campaign Manager service ("Service"), created by Diego Aguilar, Jonathan Warren, and Daniel Rapuano as part of the Senior Seminar Capstone - CSC 400 under the supervision of Dr. Hossain at Southern Connecticut State University.</p>
                    <p>By using our Service, you agree to be bound by the following terms and conditions ("Terms of Service"). Please read these Terms of Service carefully before accessing or using our Service.</p>
                    
                    <h2>Acceptance of Terms</h2>
                    <p>By accessing or using the Service, you agree to be bound by these Terms of Service. If you do not agree to these Terms of Service, you may not access or use the Service. </p>
                    
                    <h2>Description of Service</h2>
                    <p>Our Service provides an AI-driven Advertisement Campaign Generator and Management Platform for marketing and advertising professionals. This platform enables users to create customizable, AI-generated advertising materials, manage multiple simultaneous campaigns, and publish campaigns directly to social media.</p>
                    
                    <h2>User Conduct</h2>
                    <p>You agree not to use the Service for any unlawful or prohibited purpose or in any way that could damage, disable, overburden, or impair the Service.</p>
                    
                    <h2>Privacy</h2>
                    <p>Your privacy is important to us. Please refer to our Privacy Policy for information on how we collect, use, and disclose your personal information.</p>

                    <h2>Intellectual Property</h2>
                    <p>The Service is provided on an "as is" and "as available" basis without any representation or warranty of any kind, whether express or implied.</p>
                    
                    <h2>Limitation of Liability</h2>
                    <p>In no event shall our team, its affiliates, or its licensors be liable for any indirect, incidental, special, consequential, or punitive damages arising out of or in connection with your use of the Service.</p>
                    
                    <h2>Indemnification</h2>
                    <p>You agree to indemnify and hold harmless our team, its affiliates, and its licensors from and against any and all claims, liabilities, damages, losses, costs, expenses, or fees arising out of or in connection with your use of the Service.</p>

                    <h2>Governing Law</h2>
                    <p>These Terms of Service shall be governed by and construed in accordance with the laws of the State of Connecticut, without regard to its conflict of law provisions.</p>

                    <h2>Contact Us</h2>
                    <p>If you have any questions about these Terms of Service, please contact us at a.i.ads.csc400@gmail.com. </p>
                    <p>By using our Service, you acknowledge that you have read, understood, and agree to be bound by these Terms of Service.</p>
                    
                    <h2>Changes to Terms of Service</h2>
                    <p>We reserve the right to modify or replace these Terms of Service at any time. Any changes will be effective immediately upon posting the revised Terms of Service on the Service.</p>

                    <h2>Deletion of User Data</h2>
                    <p>At CampAIgn, we prioritize user data control and safety. If, at any time, you desire to delete your account and all coinciding user data from our application, the "Delete User Data" option is available within user settings, inside of "View Account".</p>
                </div>
            </div>
        </div>
    </div>
</body>
<footer>
    {% include 'footer.html' %}
</footer>
</html>
