<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Portfolios</title>

</head>
<body>
    {% include 'navbar.html' %}
    <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 text-center">
            <div class = "py-3">
                <h1>Your Campaigns</h1>
                <hr>
            </div>
          </div>
        </div>
      </div>

<div class = "container">
    <table class = "table table-striped">
        <thead>
        </thead>
        <tbody>
            <div class = "row">
            {% for campaign in campaigns %}

                <div class = "col-sm-6">

                    <div class="card" style = "width: 18rem;">
                        <img src="{{campaign[7]}}" alt="Image Generated">
                        <div class="card-body">
                          <h5 class="card-title">{{ campaign[0] }}</h5>
                          <p class="card-text">Creation Date :</p>
                          <p class = "card-text">{{ campaign[1] }}</p>
                          <a href="{{ url_for('view_campaign', campaign_id=campaign[8]) }}" class="btn btn-dark">View</a>
                          <a href="{{ url_for('edit_campaign', campaign_id=campaign[8]) }}" class="btn btn-dark">Edit</a>
                          <a href="{{ url_for('edit_campaign', campaign_id=campaign[8]) }}" class="btn btn-danger">Delete</a>


                        </div>
                      </div>
                    </div>
                </div>
<!--
                <td> <h3><a href="{{ url_for('edit_campaign', campaign_id=campaign[8]) }}">{{ campaign[0] }}</a></h3> </td>
                <td>{{ campaign[1] }}</td>
                <td style=" word-wrap: break-word">{{ campaign[2] }}</td>
                <td>{{ campaign[4] }}</td>
                <td>{{ campaign[3] }}</td>
                <td>{{ campaign[5] }}</td>
                <td> <img src="{{campaign[7]}}" alt="Image Generated" style="width: 90%;">{{campaign[7]}}</td>
                </div>
            </div>
-->
            {% endfor %}
        </tbody>
    </table>
</div>
</body>
</html>
