<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>View Campaign</title>
  </head>
  <body>
    {% include 'navbar.html' %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center">
          <div class="py-3">
            <h1>Campaign - {{ campaign[0] }}</h1>
            <hr />
          </div>
        </div>
      </div>
    </div>

    <div class="container" style="padding-top: 1%; padding-bottom: 1%">
      <div class="row">
        <div class="col-sm-7">
          <div
            class="card h-100"
            style="
              background-color: rgba(0, 0, 0, 0.4);
              backdrop-filter: blur(7px);
            "
          >
            <div class="card-header">
              <h6><b>{{ campaign[0] }}</b> - {{ campaign[1] }}</h6>
            </div>

            <div class="card-body">
              <h5 class="card-title">Perspective:</h5>
              <p class="card-text">{{ campaign[4] }}</p>
              <h5 class="card-title">Links:</h5>
              <p class="card-text">
                {% for link in campaign[2].split() %}
                <a href="{{ link }}" target="_blank">{{ link }}</a><br />
                {% endfor %}
              </p>
              <h5 class="card-title">Summarization:</h5>
              <p class="card-text">{{ campaign[3] }}</p>
            </div>

            {% if creator %}
            <div class="card-footer text-center">
              <a
                href="{{ url_for('edit_campaign', campaign_id=campaign[8]) }}"
                class="btn btn-primary"
                >Edit Campaign</a
              >
              <a
                href="{{ url_for('delete_campaign', campaign_id=campaign[8]) }}"
                class="btn btn-danger"
                >Delete Campaign</a
              >
            </div>
            {% endif %}
          </div>
        </div>

        <div class="col-sm-5">
          <div
            class="card h-100"
            style="
              background-color: rgba(0, 0, 0, 0.4);
              backdrop-filter: blur(7px);
            "
          >
            <div class="card-header">
              <div class="row">
                <div class="col md-6">
                  <h6><b>{{ campaign[0] }}</b> - Preview</h6>
                  <!-- </div> -->
                  <div class="row">
                    {% if creator %} {% if campaign[11] %}
                    <div class="form-check form-switch">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        role="switch"
                        id="checkedToggle"
                        campaign-id="{{ campaign[8] }}"
                        checked
                      />
                      <label
                        class="form-check-label"
                        for="flexSwitchCheckChecked"
                        ><p>Public</p></label
                      >
                    </div>
                    {% else %}
                    <div class="form-check form-switch">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        role="switch"
                        id="checkedToggle"
                        campaign-id="{{ campaign[8] }}"
                      />
                      <label
                        class="form-check-label"
                        for="flexSwitchCheckChecked"
                        ><p>Private</p></label
                      >
                    </div>
                    {% endif %} {% endif %}
                  </div>
                </div>
                <div class="col md-6 text-right">
                  {% if creator %}
                  <a
                    href="{{ url_for('view_campaign_log', campaign_id=campaign[8]) }}"
                    style="text-decoration: none; padding-right: 6px"
                  >
                    <svg
                      fill="#ffffff"
                      width="30px"
                      height="30px"
                      viewBox="-4 -1.5 24 24"
                      xmlns="http://www.w3.org/2000/svg"
                      preserveAspectRatio="xMinYMin"
                      class="jam jam-branch-f"
                      transform="rotate(90)"
                      stroke="#ffffff"
                      stroke-width="0.00024000000000000003"
                    >
                      <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                      <g
                        id="SVGRepo_tracerCarrier"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      ></g>
                      <g id="SVGRepo_iconCarrier">
                        <path
                          d="M4 11.856v3.173a3.001 3.001 0 1 1-2 0V6.687a3.001 3.001 0 1 1 2 0v2.34c.312-.11.647-.17.997-.171l6.037-.006a1 1 0 0 0 .999-1V6.699A3.001 3.001 0 0 1 13 .858a3 3 0 0 1 1.033 5.817V7.85a3 3 0 0 1-2.997 3l-6.037.006a1 1 0 0 0-.999 1z"
                        ></path>
                      </g>
                    </svg>
                  </a>
                  <a
                    href="{{ url_for('edit_campaign', campaign_id=campaign[8]) }}"
                    style="text-decoration: none; padding-right: 6px"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      fill="white"
                      class="bi bi-lock-fill"
                      viewBox="0 0 18 18"
                    >
                      <path
                        d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2"
                      />
                    </svg>
                  </a>
                  <a
                    href="{{ url_for('delete_campaign', campaign_id=campaign[8]) }}"
                    style="text-decoration: none"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="20"
                      height="20"
                      fill="white"
                      class="bi bi-trash3-fill"
                      viewBox="0 0 18 18"
                    >
                      <path
                        d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"
                      />
                    </svg>
                  </a>
                  <!-- <div class="row">
                    {% if campaign[11] %}
                    <div class="form-check form-switch">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        role="switch"
                        id="checkedToggle"
                        checked
                      />
                      <label
                        class="form-check-label"
                        for="flexSwitchCheckChecked"
                        ><p>Public</p></label
                      >
                    </div>
                    {% else %}
                    <div class="form-check form-switch">
                      <input
                        class="form-check-input"
                        type="checkbox"
                        role="switch"
                        id="uncheckedToggle"
                      />
                      <label
                        class="form-check-label"
                        for="flexSwitchCheckChecked"
                        ><p>Private</p></label
                      >
                    </div>
                    {% endif %}
                  </div> -->
                  {% endif %}
                </div>
              </div>
            </div>
            <div class="card-body">
              <img
                src="{{campaign[7]}}"
                alt="Image Generated"
                referrerpolicy="no-referrer"
                style="width: 100%"
              />
              <p class="card-text" style="padding-top: 3%">
                <b> {{ current_user.username }} </b>{{ campaign[5] }}
              </p>
            </div>
            {% if creator %}
            <div class="card-footer text-center">
              <a
                href="{{ url_for('post_on_facebook') }}"
                class="btn btn-secondary"
                >Post to Facebook</a
              >
              <button id="exportButton" class="btn btn-primary">Export</button>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <script src="{{ url_for('static', filename='js/exportImage.js') }}"></script>
    <script src="{{ url_for('static', filename='js/togglePublic.js') }}"></script>
  </body>
  <footer>{% include 'footer.html' %}</footer>
</html>
